In [9]:
# ## <---- is used as comments for better understanding of program in future
# these programs are written by sanskriti
#### shortcut for commenting and uncommenting is (ctrl+/)
# <----- this is called as pound symbol
"""this is a 
multiline
comment"""

'this is a \nmultiline\ncomment'

In [6]:
###this commamd is used for printing different statements
print("hello world",7)

hello world 7

In [2]:
#### not only it prints but also we can use all types of operations by just giving the values inside the brackets 
print(17+43)

60

In [3]:
### no  double commas are required for printing int and float values
print(7)

7

In [17]:
### we can seperate values from a print statment by using sep=" "  by default space is used as a seperator
print("hey",6,6,7, sep="~")

hey~6~6~7

In [ ]:
### ESCAPE SEQUENCE CHARACTER 
# to insert characters that cannot be directly used in a string we use an escape sequence character 
# it is a backlash \ followed by the character you want to insert

In [5]:
### if you want to print data in a new line then use 'escape sequence character'
print("i am a good boy & \nthe viewer is also a good boy")

i am a good boy &
the viewer is also a good boy

In [16]:
### we can use \ as escape sequence character to show inverted commmas in the printing statement 
###so there are ways in whichwe can incorporate the double inverted commas
print("i am a \"good boy\"  \nthe viewer is also a good boy")

i am a "good boy"
the viewer is also a good boy

In [23]:
#### variables
# they are like containers in which we store data 
# this data is further stored in the memory which we also call as RAM
# and assigning it some values
# so we can store different types of data in the variable
# for eg

a= 49
print(a)
b=0
print(b)
c="harry"
print(c)
d= "none"
print(d)

49
0
harry
none

In [32]:
### DATATYPES 
# these variables can store a lot of data which can be of different types.
# a datatype specifies the types of value the variable holds.helps in performingvarious operations 
# without causing error. we can print the type of any operator using type function
#for eg
a= 6
print("the type of a is",type(a))
b="we love python"
print("the type of b is ", type(b))
c=True
print("the type of c is", type(c))

the type of a is <class 'int'>
the type of b is  <class 'str'>
the type of c is <class 'bool'>

In [33]:
### there are different types of datatypes
# 1.numeric data: int float complex
a=5
print("the type of a is",type(a))
b= 2.2
print("the type of b is",type(b))
c= complex(6,9)
print("the type of c is",type(c))

the type of a is <class 'int'>
the type of b is <class 'float'>
the type of c is <class 'complex'>

In [34]:
# 2.text data: str
a= "sanskritii loves herself"
print("the type of a is",type(a))

the type of a is <class 'str'>

In [35]:
# 3.boolean : True and False
c=True
print("the type of c is", type(c))

the type of c is <class 'bool'>

In [37]:
# 4.sequenced data:list tuple
# list is an ordered colllection of data with elements seperated bya comma
# and enclosed within square brackets . lists are mutable which means it can be modified
# for eg
list1=[8,9,3,5,6]
print(list1)
print("the datatype is", type(list1))

[8, 9, 3, 5, 6]
the datatype is <class 'list'>

In [39]:
#tuple 
# ordered set of collection of data with elements seperated by comma enclosed by parantheses ,
# they are  immutable and cannot be modified after creation.
# for eg
tuple1 =(67,47,94,35)
print(tuple1)
print("the datatype is", type(tuple1))

(67, 47, 94, 35)
the datatype is <class 'tuple'>

In [40]:
###dict
# a dictionary is an unordered collection of data containing a key:value pair 
# are enclosed within curly brackets
# for 
dict1={"name":"sanskriti"}
print(dict1)
print("the type is ", type(dict1))

{'name': 'sanskriti'}
the type is  <class 'dict'>

In [41]:
##############EVERYTHING IN PYTHON IS OBJECTS ########